# Ignore everything ...
*

# ... but "unignore" directories so that we can whitelist a specific folder:
!*/

# Whitelist the evconduit component
!custom_components/evconduit/
!custom_components/evconduit/**
!.github/**
!hacs.json
!CHANGELOG.md
!README.md

# Ignore Python cache
__pycache__/
**/__pycache__/
*.py[cod]
